$black: #000;
$border: 2px;
$offset: 3px;

* {
  box-sizing: border-box;
}

header {
  margin: 25px auto;
  width: 200px;

  h1 {
    color: #8656FF;
    font-family: 'Lora', sans-serif;
    font-size: 60px;
    margin: 0;
    position: relative;
    text-shadow:
      -#{$border} 0 $black,
      0 $border $black,
      $border 0 black,
      0 -#{$border} $black;
    z-index: 2;
  }
  h1::before,
  h1::after {
    content: 'Nick D';
    position: absolute;
    transition:
      left .5s ease,
      bottom .5s ease;
  }
  h1::before {
    bottom: $offset;
    color: #18B254;
    left: -#{$offset};
    z-index: -1;
  }
  h1::after {
    bottom: -#{$offset};
    color: #FF3A2F;
    left: $offset;
    z-index: 3;
  }

  h1:hover {
    cursor: pointer;

    &::before {
      bottom: ($offset * 2);
      left: -#{($offset * 2)};
    }
    &::after {
      bottom: -#{($offset * 2)};
      left: ($offset * 2);
    }
  }
}

section {
  text-align: center;

  a, a:link, a:visited, a:hover {
    color: $black;
    outline: none;
  }

  a:hover {
    border-bottom: 1px solid $black;
  }
}
