* {
  box-sizing: border-box;
}

header {
  margin: 25px auto;
  width: 200px;
}
header h1 {
  color: #8656FF;
  font-family: "Lora", sans-serif;
  font-size: 60px;
  margin: 0;
  position: relative;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 black, 0 -2px #000;
  z-index: 2;
}
header h1::before,
header h1::after {
  content: "Nick D";
  position: absolute;
  transition: left 0.5s ease, bottom 0.5s ease;
}
header h1::before {
  bottom: 3px;
  color: #18B254;
  left: -3px;
  z-index: -1;
}
header h1::after {
  bottom: -3px;
  color: #FF3A2F;
  left: 3px;
  z-index: 3;
}
header h1:hover {
  cursor: pointer;
}
header h1:hover::before {
  bottom: 6px;
  left: -6px;
}
header h1:hover::after {
  bottom: -6px;
  left: 6px;
}

section {
  text-align: center;
}
section a, section a:link, section a:visited, section a:hover {
  color: #000;
  outline: none;
}
section a:hover {
  border-bottom: 1px solid #000;
}
